.container {
  margin-left: 250px;
  min-height: calc(100vh - 60px);
  margin-top: 60px;

  background-color: #ecf0f1;

  font-family: 'Code Sans 3';
  font-weight: 400;
  font-size: 24px;
}

.content {
  overflow: auto;

  font-family: 'Source Sans 3';

  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 60px);
  min-width: calc(100vh - 250px);

  padding: 20px;

  background-color: #2b2b2b;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;

    .back_button {
      all: unset;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 24px;

      height: 100%;
      width: 20px;

      cursor: pointer;
    }

    .back_button:hover {
      color: #fd4249;
    }

    .management {
      display: flex;

      .button {
        all: unset;

        cursor: pointer;

        background-color: #fd4249;
        border-radius: 8px;

        // width: 100%;
        // max-width: 100px;

        width: 5rem;

        text-align: center;

        padding: 5px;

        font-size: 0.9rem;
        font-weight: bold;
      }

      .button:hover {
        color: #2b2b2b;
      }

      .button:nth-child(2) {
        margin-left: 5px;
      }
    }
  }

  .details {
    display: flex;
    justify-content: space-around;

    color: white;
  }
}
